$white: #FFFFFF;
$footer: #F7F7F7;
$black: #000000;
$hero: url("/public/images/hero/Abstract technology wallpaper design background2.png");
$grey: #2D2D2D;
$lightgrey: #696969;
$contact: #CDCDCD;
$button: #D7744A;
$button-hover: #d1693c;