$white: #FFFFFF;
$white_section: #F7F7F7;
$black: #000000;
$brown: #F2A649;
// $hero: url("/public/images/vector-may-2020-17.jpg");
// $hero: #1F2740;
$hero: url("/public/images/hero/Abstract technology wallpaper design background2.png");
// $hero: url("/public/images/hero/Vector2020-01-170.jpg");
$grey: #2D2D2D;
$lightgrey: #696969;
$contact: #CDCDCD;
$button: #D7744A;
$button-hover: #d1693c;